@import '../../styles/_colors'

.container
  margin: 2.5rem auto
  .mat-card
    color: $body-color

  .mat-card-title
    font-size: 1.5rem
    font-weight: bold
    color: $body-color
  .mat-card-avatar
    opacity: 0.5
    img
      width: 250px
  .temperature
    font-size: 1.5rem



@media (min-width: 768px)
  .container
    .mat-card-avatar
      img
        width: 100px


@media (min-width: 1200px)
  .container
    .mat-card-avatar
      img
        width: 200px
