@import '../../styles/_colors'

.main-header
  background: url('src/assets/yue-su--WX6S7utock-unsplash.jpg') no-repeat center
  background-size: cover
.jumbotron-fluid
  background-color: #000000b3
  padding-top: 8rem


  .lead
      color: $alt-color
      font-weight: 900


@media (min-width: 768px)
  .main-header
    .title
      font-size: 8rem
