<div class="site">
<div class="site-content">
  <nav class="navbar navbar-expand navbar-light bg-light">
      <div class="nav navbar-nav">
          <a class="nav-item nav-link active" [routerLink]="['/home']" routerLinkActive="active" >Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" [routerLink]="['/weather']" routerLinkActive="active" >Weather</a>
      </div>
  </nav>
<div class="main">
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>




</div>
</div>
