<div class="site">
<div class="site-content">
  <nav class="navbar navbar-expand bg-accent">
      <div class="nav navbar-nav mx-auto">
          <a class="nav-item nav-link active" [routerLink]="['/home']" routerLinkActive="active" >Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" [routerLink]="['/weather']" routerLinkActive="active" >Weather</a>
      </div>
  </nav>
<div class="main">
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>


<footer>
  <div class="container-fluid text-center p-5">
    <p>Copyright 2020 Abdullahinur Abdullahi</p>
  </div>
</footer>

</div>
</div>
